<div class="header-container">
  <div class="left-section">
    <h1>
      Bienvenido a  la empresa {{ empresaNombre ? ', ' + empresaNombre : '' }}
    </h1>
  </div>
  <div class="right">
    <div class="right-section">
      <div class="user-info">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="User photo" />
        <div class="user-details">
              <h3 class="user-name">{{ username }}</h3>
        <h3 class="user-role">{{ userRole }}</h3>

        </div>
        <i class="fas fa-chevron-down dropdown-arrow"></i>
      </div>
    </div>
  </div>
</div>
