<div class="contenedor">
   <div class="barra">
    <app-barra-lateral></app-barra-lateral>

  </div>

  <div class="encabezado">
    <app-header></app-header>
              <hr class="border-secondary mb-4" />

<div class="container">
  <div class="header">
    <div>
      <h2>Ventas </h2>
      <span class="subtitle">  Ventas registrados</span>
    </div>
    <div class="search-sort">
      <input type="text" placeholder="Buscar venta"
       class="search-input"
        />
   <button class="btn-agregar" [routerLink]="['/admin/add-venta']">
  <i class="fas fa-plus"></i> Venta
</button>

    </div>
  </div>

  <table class="customer-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>

  </table>

 ¿
</div>
  </div>

</div>


