<div class="contenedor">
  <div class="barra">
    <app-barra-lateral></app-barra-lateral>
  </div>

  <div class="encabezado">
    <app-header></app-header>
    <hr class="border-secondary mb-4" />

    <div class="container">
      <div class="header">
        <div>
          <h2>Tipo de Producto</h2>
          <span class="subtitle">{{ tipos.length }} Registrados</span>
        </div>
        <div class="search-sort">
          <input
            type="text"
            placeholder="Buscar tipo"
            class="search-input"
            [(ngModel)]="filtro"
            (ngModelChange)="aplicarFiltro()"
          />
          <button (click)="abrirModal()" class="btn-agregar">
            <i class="fas fa-plus"></i> Tipo
          </button>
        </div>
      </div>

      <table class="customer-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tiposFiltrados; let i = index">
            <td>{{ (paginaActual - 1) * elementosPorPagina + i + 1 }}</td>
            <td>{{ t.nombre }}</td>
            <td>
              <button (click)="abrirModal(t)" class="btn-editar">
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="eliminar(t.idtipoproducto)" class="btn-eliminar">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Paginación" class="mt-3">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [class.disabled]="paginaActual === 1"
      (click)="cambiarPagina(paginaActual - 1)">
      <a class="page-link" href="javascript:void(0)">Anterior</a>
    </li>

    <li
      class="page-item"
      *ngFor="let pagina of paginasArray"
      [class.active]="pagina === paginaActual"
      (click)="cambiarPagina(pagina)">
      <a class="page-link" href="javascript:void(0)">{{ pagina }}</a>
    </li>

    <li
      class="page-item"
      [class.disabled]="paginaActual === totalPaginas"
      (click)="cambiarPagina(paginaActual + 1)">
      <a class="page-link" href="javascript:void(0)">Siguiente</a>
    </li>
  </ul>
</nav>

      <!-- Modal -->
      <div *ngIf="mostrarModal" class="modal">
        <div class="modal-content">
          <h2>Tipo de Producto</h2>
          <form (ngSubmit)="formSubmit()" #formulario="ngForm">
            <input
              type="text"
              [(ngModel)]="tipo.nombre"
              name="nombre"
              required
              placeholder="Nombre del tipo"
            />
            <button type="submit" [disabled]="formulario.invalid">Guardar</button>
            <button type="button" (click)="cerrarModal()">Cerrar</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
