<div class="contenedor">
  <div class="barra">
    <app-barra-lateral></app-barra-lateral>
  </div>

  <div class="encabezado">
    <app-header></app-header>
    <hr class="border-secondary mb-4" />

    <div class="container">
      <div class="header">
        <div>
          <h2>Clientes</h2>
          <span class="subtitle">{{ clientes.length }} Clientes registrados</span>
        </div>
        <div class="search-sort">
          <input
            type="text"
            placeholder="Buscar cliente"
            class="search-input"
            [(ngModel)]="filtroBusqueda"
            (ngModelChange)="buscarCliente()"
          />
          <button class="btn-agregar" (click)="navegarYMostrarModal()">
            <i class="fas fa-plus"></i> Cliente
          </button>

        </div>
      </div>

      <table class="customer-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Documento</th>
            <th>Nro documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientesFiltrados; let i = index">
            <td>{{ (paginaActual - 1) * elementosPorPagina + i + 1 }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellidos }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.tipoDocumento }}</td>
            <td>{{ cliente.documento }}</td>
            <td>
              <button
  class="btn-editar"
  (click)="navegarYEditarCliente(cliente.idCliente)"
  title="Editar cliente">
  <i class="fas fa-edit"></i>
</button>
<button
  class="btn-ver"
  (click)="navegarYVerCliente(cliente.idCliente)"
  title="Ver cliente">
  <i class="fas fa-eye"></i>
</button>

             <button (click)="eliminarCliente(cliente.idCliente)" class="btn-eliminar" title="Eliminar cliente">
  <i class="fas fa-trash-alt"></i>
</button>

            </td>
          </tr>
        </tbody>
      </table>

  <nav aria-label="Paginación" class="mt-3">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [class.disabled]="paginaActual === 1"
      (click)="cambiarPagina(paginaActual - 1)">
      <a class="page-link" href="javascript:void(0)">Anterior</a>
    </li>

    <li
      class="page-item"
      *ngFor="let pagina of paginasArray()"
      [class.active]="pagina === paginaActual"
      (click)="cambiarPagina(pagina)">
      <a class="page-link" href="javascript:void(0)">{{ pagina }}</a>
    </li>

    <li
      class="page-item"
      [class.disabled]="paginaActual === totalPaginas"
      (click)="cambiarPagina(paginaActual + 1)">
      <a class="page-link" href="javascript:void(0)">Siguiente</a>
    </li>
  </ul>
</nav>

    </div>
  </div>
</div>
