
.contenedor {
  display: flex;
  background-color: rgba(255, 255, 255, 0.797);
}

.encabezado {
  width:83% ;
}
.barra {
width: 17%;
  flex: 1; /* Ocupa el resto del espacio */
  background-color: #ddd;
}
.border-secondary{
  border: 1px solid #510e0e;
  height: 1px !important;
  margin: auto;
  width: 98%;
}
